<% provide(:title, 'About Us') %>
<div id="aboutinfo">
		<div class="page-header">
			<h2>¿De qué trata?</h2>
		</div>
			<p>CupoQuilla es el lugar donde puedes saber de las promociones y conseguir cupones especiales para que puedas comprar mas economico lo qe buscas</p>
		<div class="page-header">
			<h2>¿Que tiene de especial?</h2>
		</div>
		<p>CupoQuilla esta unicamente en Barranquilla y publicamos promociones locales asi como tambien puedes comprar cupones para ahorrar dinero.</p>
		<div class="page-header">
			<h2>¿Cómo uso Cupoquilla?</h2>
		</div>
		<p>Puedes registrate en la pagina hundiendo clic en el boton Registrar para asi poder comprar cupones y recibir notificaciones por email de promociones si lo deseas</p>
		<div class="page-header">
			<h2>¿Cómo se si las promociones y cupones son de verdad?</h2>
		</div>
		<p>Nostros verificamos cada promocion y cupon que se publica en la pagina y la actualizamos cada dia para darte la informacion mas acertada posible.</p>
</div>
<div id="nosotros">
		<h2>Desarrolladores </h2>
		<div class="col-lg-4">
			<img src="<%= asset_path("roberto1.png") %>">
			<p> Roberto Daza</p>
			<p> Scrum Master</p>
		</div>
		<div class="col-lg-4">
			<img src="<%= asset_path("sebastian1.png") %>">
			<p> Sebastián Mayor</p>
			<p> Desarrollador, Diseñador</p>
		</div>
		<div class="col-lg-4">
			<img src="<%= asset_path("carlo1.png") %>">
			<p> Carlo Riveros</p>
			<p> Arquitecto, Desarrollador</p>
		</div>
	</div>