<% provide(:title, 'Mis compras') %>
<div class="compras">
<% @compras.each do |compra| %>
		<% if (compra.user_id==current_user.id) %>
		<li>
			Descripcion: 
			<%=compra.contenido %>
		</li>
		<%end%>
<%end%>
</div>