@font-face{
	font-family: "Hursheys";
	src: url(/assets/Hursheys.ttf);
}

@font-face{
	font-family: "webly";
	src: url(/assets/webly.ttf);
}

@font-face{
	font-family: "ClearSans";
	src: url(/assets/ClearSans.ttf);
}

@font-face{
	font-family: "CaviarDreams";
	src: url(/assets/CaviarDreams.ttf);
}

a{
	font-family: webly;
}

body{
	font-family: "ClearSans";
	background-image: url("fondo.png"); 
	background-color: #D4D4D4;
}

p{
	font-family: "webly";
}

.jumbotron{
	text-align: center;
	background-color: #2E2D88;
	font-family: times;
	color:white;
	margin-top: 3em;
}

.container h1{
	 display:inline;
	 font-family: "ClearSans", serif;
}

.img_home{
	display: block;
		margin: 100px 0px;
	  height: 200px; 
    width: 350px; 
    max-width: 350px; 
    max-height: 200px;

}

.button{
	width: 300px;
	margin: 10px auto;
	display: block;
}

.btn-success{
	font-size: 2.1em;
	background: #5cb85c;
	border-color: #4cae4c;
}
.compras{
	font-size: 2.1em;
	font-family: "webly", serif;
}
.cupones{
	font-size: 2.1em;
	font-family: "webly", serif;
}
.usuarios{
	font-size: 2.1em;
	font-family: "webly", serif;
}
.newCoupon h3{
	font-size: 2.1em;
	font-family: "webly", serif;
}
.btn-success:hover{
	font-size: 2.1em;
	background: #4cae4c;
	border-color: #4Fae4c;
}
.btn-warning{
	font-size: 0.8462em;
}
.btn-warning:hover{
	background: red;
}
.potd{
	text-align: center;
}
.firstpromotions{
	text-align: center;
}
.well{
	text-align: center;
	font:Arial;
	font-size: 2em;
}
.panel-footer{
	text-align: center;
}
.form-signin{
  max-width: 330px;
  margin: 0 auto;
  padding-bottom: 15;
}
.july{
	width: 100px;
}

.picture{
	text-align: center;
	margin: 20px auto;
}

.home{
	text-align: center;
}
.cupons_home{
	margin-bottom: 50px;
}
#nosotros h2{
	text-align: center;
	font-size: 40px;
	margin: 4% auto; 
	color: #2E2D88;
}
#nosotros p{
	text-align: center;
	font-size: 25px;
}
#nosotros2 p{
	text-align: center;
	font-size: 25px;
}
#nosotros2{
	margin-top:100px;
}
#aboutinfo .page-header h2{
	color:#2E2D88;
}
#aboutinfo p{
	font-size: 2.2em;
	font-family: "webly", serif;
	
}
#addon1{
	padding-left: 45px;
}
#addon2{
	padding-left: 163px;
}
#addon3{
	padding-left: 113px;
}
#addon4{
	padding-left: 63px;
}

#coupon_picture{
	text-align: center !important;
	margin: 0px auto;
}

.cupones img{
		display: block;
		margin: 20px 0px;
	  height: 200px; 
    width: 350px; 
    max-width: 350px; 
    max-height: 200px;
}